<template name="home">
  <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Welcome to askBHS</div>
        <div class="panel-body">
          <p>This is an online platform to ask questions to other students at BHS. This could be educational, social, or just random.</p>
            <p><em>Note: This site is not affiliated with Bainbridge Island School District. It is an independent service.</em></p>
        </div>
      </div>
  </div>
    {{>stream}}
</template>
