<template name="tags">
    <div class="container-fluid" style="background: #2196F3; padding-top: 0; margin-top: -30px;">
            <div class="container">
                <h1 style="color: #fff; padding: 10px 0px;">Tags....</h1>
            </div>
    </div>
    <div class="container">
        &nbsp;
    </div>
    <div class="container">
        <div class="col-md-3">
            <h3><span class="label label-info"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Tag</span></h3>
        </div>
        <div class="col-md-9">
            <br/>
            <p>Praesent vehicula sapien ac tortor placerat malesuada. Sed ipsum risus, imperdiet et metus in, tempus pharetra purus.</p>
        </div>
    </div>
    <div class="container">
        <hr/>
    </div>
    <div class="container">
        <div class="col-md-3">
            <h3><span class="label label-danger"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Tag</span></h3>
        </div>
        <div class="col-md-9">
            <br/>
            <p>Nulla tempus mauris vitae libero faucibus, at faucibus leo suscipit. Mauris justo nisi, lobortis at rhoncus euismod, volutpat vitae metus.</p>
        </div>
    </div>

</template>